@model PagedResult<MVCCallWebAPI.ViewModels.ProductViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Manage Products";
}

<h3>Products</h3>

<div class="mb-3">
    <a class="btn btn-success"
       asp-controller="Product"
       asp-action="Create">
        + Add New Product
    </a>
</div>

<table class="table table-striped table-bordered align-middle">

    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th width="250">Actions</th>
        </tr>
    </thead>

    <tbody>

        @if (Model != null && Model.Items.Any())
        {
            foreach (var p in Model.Items)
            {
                <tr>

                    <td style="width:100px;">

                        @if (!string.IsNullOrEmpty(p.MainImageUrl))
                        {
                            <img src="@ApiConfig.ImageUrl(Configuration, p.MainImageUrl)"
                                 style="
                            width:80px;
                            height:80px;
                            object-fit:cover;
                            border-radius:8px;
                            " />
                        }
                        else
                        {
                            <span>No Image</span>
                        }

                    </td>

                    <td>@p.Name</td>

                    <td>
                        @p.Price.ToString("N0") VNĐ
                    </td>

                    <td>@p.Stock</td>

                    <td>@p.Category?.Name</td>

                    <td>

                        <a class="btn btn-info btn-sm"
                           asp-controller="Product"
                           asp-action="Details"
                           asp-route-id="@p.Id">
                            Details
                        </a>

                        <a class="btn btn-warning btn-sm"
                           asp-controller="Product"
                           asp-action="Edit"
                           asp-route-id="@p.Id">
                            Edit
                        </a>

                        <a class="btn btn-danger btn-sm"
                           asp-controller="Product"
                           asp-action="Delete"
                           asp-route-id="@p.Id">
                            Delete
                        </a>

                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">
                    No products found
                </td>
            </tr>
        }

    </tbody>

</table>